/* Forgot Password Specific Styles */
#otpSection,
#resetPasswordSection {
    margin-top: 20px;
    transition: all 0.5s ease;
}

#otpSection.slide-down,
#resetPasswordSection.slide-down {
    margin-top: 20px;
    opacity: 1;
    transform: translateY(0);
}

#otpSection.slide-up,
#resetPasswordSection.slide-up {
    margin-top: -20px;
    opacity: 0;
    transform: translateY(-20px);
}